.widget-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    padding: 12px;
    width: 300px;
    border: 1px solid #8c8c8c;
    border-radius: 8px;
}

.progress-container{
    margin-top: 18px;
    height: 14px;
    border: 1px solid #ccc;
    width: 300px;
    border-radius: 8px;
}

.progress-bar{
    width: 50%;
    background-color: red;
    height: 14px;
    border-radius: 8px;
    transition: all 0.25s ease-in-out;
}
